<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head')%>
</head>
<body>
  <main>
    <header>
      <%- include('../../layout/header') %>       
    </header>
    <section class="show-page">
        <%- include('detail.ejs')%>
    </section>
  </main>
</body>
</html>

