<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <header>
<h1>Best Books!</h1>      
    </header>
    <section class="show-page">
        <%- include('detail.ejs')%>
    </section>
  </main>
</body>
</html>